{% set primaryColor = '#616161' %}

{% include 'top.twig' with {'data': data, 'logo' : logo} %}
<table id="bodyCont" width="600" style="max-width:100%; margin-left: auto; margin-right: auto;" BORDER="0" CELLPADDING="0"
CELLSPACING="0" ALIGN="center">
    <tr bgcolor="#fff">
        <td align="center" valign="top" style="padding-top: 24px; padding-bottom:24px; background: {{ primaryColor }}; border-bottom: 1px solid #BDBDBD">
            <a class="template" href="#test" TARGET="_blank" title="brand">
                <img src="{{ logo }}"
                    border="0" alt="Brand logo" class="brand-logo" style="display:block; height: 35px; max-width:100%;"
                    height="35" />
            </a>
        </td>
    </tr>
    <tr>
        <td STYLE="max-width:600px; padding:0px; background-color:#fff;">
            <table border="0" cellpadding="0" cellspacing="0" align="left" valign="middle" style="width: 100%">
                <tr>
                    <td VALIGN="middle" STYLE="color:#000000; font-size:24px; padding:0; line-height:32px; font-family:Calibri, Arial, Helvetica, sans-serif;">
                        <a class="template" href="#test" TARGET="_blank" title="Heading image">
                            <img width="600" style="max-width:100%;" src="{{ data.image.url }}"/>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td STYLE="max-width:600px; padding:0px; background-color:#fff;">
            <table border="0" cellpadding="0" cellspacing="0" align="left" valign="middle" style="width: 100%">
                <tr>
                    <td width="32" class="content__spacer"></td>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" align="left" valign="middle" style="color:#616161; font-size:16px; padding:0; line-height:24px; font-family:Calibri, Arial, Helvetica, sans-serif; width: 100%;">

                            <h1>{{ data.heading }}</h1>

                            {% if data.sub_heading %}
                                <h2>{{ data.sub_heading }}</h2>
                            {% endif %}

                            {{ converter.makeHtml(data.content) }}
<tr>
    <td height="8"></td>
</tr>
<tr>
    <td align="middle" valign="middle">
        <table border="0" cellpadding="0" cellspacing="0" style="text-align:center; background-color:{{ primaryColor }}; border-collapse:separate!important; border: 2px solid #fff">
            <tr>
                <td align="left" valign="middle" style="color:#FFFFFF; font-family:Helvetica,Arial,sans-serif; font-size:15px; font-weight:bold; line-height:100%; padding-top:15px; padding-right:20px; padding-bottom:15px; padding-left:20px">
                    <a class="template" href="{{ domain }}{{ data.url }}" target="_blank" style="color:#FFFFFF; text-decoration:none">
                        Find out more
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!--CALL TO ACTION END-->
<tr>
    <td height="48"></td>
</tr>
{% include 'tail.twig' with {'data': data, 'logoMono': logoMono} %}